/* Inserção de fonte externa */

@font-face {
    font-family: WBranding;
    src: url('Fontes/WonderfulBranding.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Amatic ;
    src: url('Fontes/AmaticSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estilização do corpo do site */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman';
    padding: 30px;
    background: rgba(178, 107, 198, 0.522);
}

/* Estilização do menu de navegação */
.topnav {
  background-color: rgb(255, 255, 255);
  display: flex;
    flex-flow: row wrap;
}


/* Estilização dos links de navegação */
.topnav a {
  float:right;
  top: 30px;
  right: 80px;
  color: rgb (117, 66, 117);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Mudança de cor ao passar o mouse */
.topnav a:hover {
  background-color: rgb(117, 66, 117);
  color: white;
}

/* Estilização do cabeçalho */
.header {
    text-align: center;
    margin-top: 5px;
    padding: 40px;
    display: flex;
    align-content: center;
  }

  .imagens {
    height: 700px;
    width: 1000px;
    border-radius: 100px;
  }

/* Estilização dos tópicos */
.artigo {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
  }

  .artigo h1 {
      font-family: Amatic;
      font-size: 40px;
      color: rgb(255, 255, 255);
      text-align: center;
      background-color: rgba(117, 66, 117);
    }

  .artigo h4 {
      font-size: 20px;
      text-align: center;
    }

  .artigo p {
      font-size: 20px;
      text-align: center;
    }

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
  }

    .dino {
      display: flex;
      flex-flow: column nowrap;   
    }
      .dino img{
        border-radius: 10px;
      }

    .slcropped {
      display: flex;
      flex-flow: column nowrap;   
    }
      .slcropped img{
        border-radius: 10px;
      }

    .penguino {
      display: flex;
      flex-flow: column nowrap;   
    }
      .penguino img{
        border-radius: 10px;
      }

    .croppedbt {
      display: flex;
      flex-flow: column nowrap;   
    }
      .croppedbt img{
        border-radius: 10px;
      }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
  }
  
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }